In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
path = "interpolated_data/"
data = {}

for fname in os.listdir(path):
    if "logs-" not in fname: continue
    fdata = pd.read_csv(os.path.join(path, fname))
    data[fname.replace(".csv", "").replace("logs-", "")] = fdata

data.keys()

dict_keys(['electricity', 'fertility_rate', 'gdp', 'immunization', 'life_expectancy', 'school_enrollment_secondary', 'school_enrollment_tertiary'])

In [41]:
def scores_mapping(data: pd.DataFrame, name):
    r2 = data["r2"].to_list()
    for i in range(len(r2)):
        if r2[i] < 0: r2[i] = 0
    vr2 = data["val r2"].to_list()
    for i in range(len(vr2)):
        if vr2[i] < 0: vr2[i] = 0
    
    r2 = pd.Series(r2).median()
    mae = data["mae"].median()
    mape = data["mape"].median()
    rmse = data["rmse"].median()
    # vr2 = data["val r2"].median()
    vr2 = pd.Series(vr2).median()
    vmae = data["val mae"].median()
    vmape = data["val mape"].median()
    vrmse = data["val rmse"].median()
    r2, mae, mape, rmse = round(r2, 3), round(mae, 3), round(mape, 3), round(rmse, 3)
    vr2, vmae, vmape, vrmse = round(vr2, 3), round(vmae, 3), round(vmape, 3), round(vrmse, 3)
    return [name, r2, mae, mape, rmse, vr2, vmae, vmape, vrmse]

In [42]:
from prettytable import PrettyTable
x = PrettyTable()
x.field_names = ["Indicator Name", "R2", "MAE", "MAPE", "RMSE", "val R2", "val MAE", "val MAPE", "val RMSE"]

for k in data.keys():
    df = data[k]
    name = str(k).replace("_", " ").capitalize()
    row = scores_mapping(df, name)
    x.add_row(row)

x

+-----------------------------+-------+---------+-------+---------+--------+---------+----------+----------+
|        Indicator Name       |   R2  |   MAE   |  MAPE |   RMSE  | val R2 | val MAE | val MAPE | val RMSE |
+-----------------------------+-------+---------+-------+---------+--------+---------+----------+----------+
|         Electricity         | 0.645 |  0.013  | 0.002 |  0.017  | 0.053  |  0.013  |  0.001   |  0.016   |
|        Fertility rate       | 0.829 |   0.14  | 0.065 |  0.165  |  0.0   |  0.181  |  0.125   |  0.191   |
|             Gdp             | 0.768 | 295.263 | 0.299 | 414.516 |  0.0   | 538.312 |  0.164   | 697.918  |
|         Immunization        | 0.495 |   0.16  | 0.037 |  0.216  |  0.0   |   0.12  |  0.025   |  0.143   |
|       Life expectancy       | 0.925 |  0.028  | 0.006 |  0.035  |  0.0   |  0.038  |  0.007   |  0.039   |
| School enrollment secondary | 0.802 |  0.211  | 0.037 |  0.248  |  0.0   |  0.208  |  0.035   |  0.247   |
|  School enrollment tertiary | 0.791 |  0.755  | 0.192 |  0.926  | 0.104  |  0.993  |  0.125   |  1.316   |
+-----------------------------+-------+---------+-------+---------+--------+---------+----------+----------+